.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .card-company {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }

  .card-ic-chip {
    background-color: silver;
    border-radius: 5px;
    width: 2.5rem;
    height: 1.8rem;
  }
  .card-number {
    align-self: center;
  }
  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card-number-segment {
    display: inline-block;
    width: 2.6rem;
  }
  .card-expiry-date {
    width: 4rem;
  }
}
