.card {
  padding: 20px 30px;
  margin: 20px;
  border-radius: 5px;
  background-color: #f3f0ff;
  width: 15rem;
  height: 10rem;
  box-shadow: 2px 2px 5px #999;
}

.shinhan {
  background-color: #bac8ff;
}

.nh {
  background-color: #ffec99;
}

.woori {
  background-color: #a5d8ff;
}

.bc {
  background-color: #ffc9c9;
}

.hyundai {
  background-color: #d8f5a2;
}
