.card-option-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 15%;
}

.card-option-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.card-name-container {
  margin: 2rem;
  width: 100%;
  text-align: center;
}
