@font-face {
  font-family: 'Noto Sans KR', sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 500px;
  height: 900px;
  padding: 20px 30px;
  position: relative;
}

#register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w2rem {
  width: 2rem;
}

.w4rem {
  width: 4rem;
}

.w6rem {
  width: 6rem;
}

.w8rem {
  width: 8rem;
}

.w10rem {
  width: 10rem;
}

.w12rem {
  width: 12rem;
}

.text-center {
  text-align: center;
}

.flex-row-spacebetween {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
